In [1]:
from get_win5_url import get_win5_url 
from get_win5_race_id import get_win5_race_id
from get_win5_return import get_win5_return
from get_win5_return_csv import get_win5_return_csv
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', 300)
import logging

In [2]:
#get_win5_url()

In [3]:
#get_win5_race_id()

In [4]:
#get_win5_return()

In [2]:
#get_win5_return_csv()

In [2]:
win5_race_id_df = pd.read_csv("./csv/data/win5-2011.csv")
for y in range(2012, 2021):
    race_tmp_df = pd.read_csv("./csv/data/win5-" + str(y) + ".csv",)
    win5_race_id_df = pd.concat([win5_race_id_df, race_tmp_df], axis = 0)

In [3]:
win5_race_id_df.head(5)

   win5_race_id
0  201109060809
1  201106050809
2  201110051010
3  201109060810
4  201106050810

In [4]:
win5_race_id_df.shape

(2565, 1)

In [5]:
#win5_race_id_df.to_csv("csv/data/win5_race_id_straight.csv", index = False)

In [6]:
df = win5_race_id_df.to_numpy().reshape(-1,5)
win5_race_id_day = pd.DataFrame(df, columns = ["race_1", "race_2", "race_3", "race_4", "race_5"])
print(win5_race_id_day.shape)
win5_race_id_day.tail(10)

(513, 5)

           race_1        race_2        race_3        race_4        race_5
503  202009010210  202006020210  202007010211  202009010211  202006020211
504  202008020810  202005010810  202010011211  202008020811  202005010811
505  202008020610  202005010610  202010011011  202008020611  202005010611
506  202008020410  202005010410  202010010811  202008020411  202005010411
507  202008020210  202005010210  202010010611  202008020211  202005010211
508  202008010910  202006010910  202010010411  202008010911  202006010911
509  202008010710  202006010710  202010010211  202008010711  202006010711
510  202008010509  202006010510  202008010510  202006010511  202008010511
511  202008010409  202006010410  202008010410  202006010411  202008010411
512  202008010109  202006010110  202008010110  202006010111  202008010111

In [7]:
win5_return = pd.read_csv("./csv/data/win5-return-2011.csv")
for y in range(2012, 2021):
    return_tmp_df = pd.read_csv("./csv/data/win5-return-" + str(y) + ".csv",)
    win5_return = pd.concat([win5_return, return_tmp_df], axis = 0)

In [8]:
win5_return.head(10)

    win5_return
0     115万1470円
1     911万5030円
2     212万8380円
3    4429万7190円
4      361万780円
5     219万1850円
6      19万2500円
7       1万3720円
8  1億6213万1980円
9    3472万6200円

In [9]:
print(win5_return.dtypes)
print(win5_return.shape)

win5_return    object
dtype: object
(543, 1)

In [10]:
win5_return = win5_return[(win5_return["win5_return"] != 'キャリーオーバー') & (win5_return["win5_return"] != '的中なし')]

In [11]:
print(len(win5_return))

523

In [12]:
win5_return_digit = win5_return["win5_return"].str.extract('(\d*)円',expand = True)
win5_return_man = win5_return["win5_return"].str.extract('(\d*)万',expand = True)
win5_return_oku = win5_return["win5_return"].str.extract('(\d*)億',expand = True)

In [13]:
win5_return_digit = win5_return_digit.replace('',np.nan)
win5_return_digit = win5_return_digit.fillna(0).astype(int)
win5_return_man = win5_return_man.fillna(0).astype(int)
win5_return_oku = win5_return_oku.fillna(0).astype(int)

In [14]:
return_int = win5_return_oku * 100000000 + win5_return_man * 10000 + win5_return_digit
return_int2 = return_int.copy()
return_int2.columns = ["r"]
print(return_int2.shape)

(523, 1)

In [15]:
return_int2 = return_int2[(return_int2.r != 200000000) & (return_int2.r != 100938320) & (return_int2.r != 10282010) & (return_int2.r != 15618470) & (return_int2.r != 418600)]
return_int2 = return_int2.reset_index(drop = True)

In [16]:
print(return_int2.shape)
print(return_int2.tail(10))

(513, 1)
             r
503    3728580
504    8321350
505     101490
506    2213230
507  433907040
508     473610
509   17052050
510  394365860
511      65590
512     483600

In [17]:
#win5_return_race_df = pd.merge([win5_race_id_day, return_int2])
win5_race_id_day = win5_race_id_day.join(return_int2)

In [18]:
len(win5_race_id_day)

513

In [19]:
print(win5_race_id_day.head(5))

         race_1        race_2        race_3        race_4        race_5  \
0  201109060809  201106050809  201110051010  201109060810  201106050810
1  201106050610  201109060610  201106050611  201110050811  201109060611
2  201106050410  201109060410  201106050411  201110050611  201109060411
3  201106050210  201109060210  201106050211  201110050411  201109060211
4  201108060809  201105050809  201110050210  201108060810  201105050810

          r
0   1151470
1   9115030
2   2128380
3  44297190
4   3610780

In [20]:
win5_race_id_day.to_csv("csv/data/win5_race_id_day.csv", index = False)