In [1]:
import numpy as np
import pandas as pd
import dask.dataframe as dd
from multiprocessing.dummy import Pool
import os
import glob

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

/home/yoshi/miniconda3/envs/tensorflow-gpu/lib/python3.6/site-packages/dask/dataframe/utils.py:13: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
horse_df = pd.read_csv("../data/csv/horse_data/horse_63/1978105785.csv", sep = ",")

def readcsv_map_multi(filelist):
    p = Pool(os.cpu_count())
    df = pd.concat(p.map(pdreadcsv, filelist))
    p.close()
    return df

def pdreadcsv(csv_path):
    return pd.read_csv(csv_path)

for i in range(64):
    files = glob.glob(os.path.join("../data/csv/horse_data/horse_" + str(i), '*.csv' ))
    horse_tmp_df = readcsv_map_multi(files)
    horse_df = pd.concat([horse_df, horse_tmp_df], axis = 0)

In [3]:
horse_df.to_pickle("../data/csv/horse_data/row_horse_data.pkl")

In [4]:
# horse_df = pd.read_pickle("../data/csv/horse_data/row_horse_data.pkl") #二回目以降はこちらから取得

In [5]:
#horse_df = horse_df[(horse_df["horse_id"] != 1982103525)] #先頭の馬が二回入って面倒なので削除
print(len(horse_df['horse_id'].unique()))
print(horse_df.shape)
horse_df.head(3)

62011
(1535135, 20)

,horse_id,father_id,grandfather_id,mother_id,total_race_number,date,place,weather,race_name,whole_horse_number,odds,order,jockey_id,burden_weight,race_distance,ground_condition,goal_time,half_order,last_time,horse_weight
0,1978105785,000a000a2d,000a00043f,1955104595,7,19860802,2新潟7,晴,障害4歳以上400万下,10,34.7,10,591,57.0,障2800,良,3:22.5,9-10-10-10,,446(-4)
1,1978105785,000a000a2d,000a00043f,1955104595,7,19860511,2東京8,曇,障害4歳以上400万下,9,8.4,6,591,57.0,障3300,良,3:47.9,2-2-3-2,,450(+2)
2,1978105785,000a000a2d,000a00043f,1955104595,7,19860420,2東京2,小雨,障害4歳以上400万下,13,33.2,4,377,57.0,障3100,重,3:36.4,1-1-1-2,,448(-2)

In [6]:
horse_df[horse_df["horse_id"] == 2017106649]

Empty DataFrame
Columns: [horse_id, father_id, grandfather_id, mother_id, total_race_number, date, place, weather, race_name, whole_horse_number, odds, order, jockey_id, burden_weight, race_distance, ground_condition, goal_time, half_order, last_time, horse_weight]
Index: []

In [7]:
horse_df[horse_df["horse_id"] == 2008103048].tail(10)

,horse_id,father_id,grandfather_id,mother_id,total_race_number,date,place,weather,race_name,whole_horse_number,odds,order,jockey_id,burden_weight,race_distance,ground_condition,goal_time,half_order,last_time,horse_weight
19,2008103048,1998190004,000a001bde,2001103218,29,20111204,5中山2,晴,ターコイズS(OP),15,7.9,13,1122,54.0,芝1600,稍,1:34.2,1-1-1,36.1,494(-4)
20,2008103048,1998190004,000a001bde,2001103218,29,20111112,5東京3,曇,パラダイスS(OP),14,8.1,6,1122,53.0,芝1400,良,1:22.2,1-1,34.1,498(+10)
21,2008103048,1998190004,000a001bde,2001103218,29,20110508,2東京6,晴,NHKマイルC(G1),18,40.1,8,733,55.0,芝1600,良,1:32.9,1-1,35.3,488(0)
22,2008103048,1998190004,000a001bde,2001103218,29,20110410,2阪神6,晴,桜花賞(G1),18,44.2,5,733,55.0,芝1600,良,1:34.5,1-1,36,488(-4)
23,2008103048,1998190004,000a001bde,2001103218,29,20110321,1阪神5,曇,フィリーズレビュー(G2),16,5.9,7,733,54.0,芝1400,稍,1:22.8,2-2,36.8,492(+2)
24,2008103048,1998190004,000a001bde,2001103218,29,20110129,1東京1,晴,クロッカスS(OP),11,3.3,1,733,54.0,芝1400,良,1:21.0,1-1,34.2,490(-6)
25,2008103048,1998190004,000a001bde,2001103218,29,20101212,5阪神4,晴,阪神ジュベナイルF(G1),18,60.7,8,733,54.0,芝1600,良,1:36.4,3-4,34.9,496(+4)
26,2008103048,1998190004,000a001bde,2001103218,29,20101121,5東京6,晴,からまつ賞(500万下),9,4.4,1,733,54.0,芝1400,良,1:22.7,1-1,33.9,492(-4)
27,2008103048,1998190004,000a001bde,2001103218,29,20101031,3福島4,小雨,2歳未勝利,16,4.3,1,1123,51.0,芝1200,重,1:09.7,2-2,36,496(+6)
28,2008103048,1998190004,000a001bde,2001103218,29,20100718,2新潟2,晴,2歳新馬,17,21.6,2,1031,54.0,芝1400,良,1:23.0,2-2,37.1,490(0)

In [8]:
# horse_df.to_pickle("./data/csv/horse_data/row_horse_data.pkl")

date

In [9]:
horse_df["date"] = pd.to_datetime(horse_df["date"], format = '%Y%m%d')

In [10]:
print(horse_df["date"].dtype)
print("date isnull sum: ", horse_df["date"].isnull().sum())
horse_df.head(3)

datetime64[ns]
date isnull sum:  0

,horse_id,father_id,grandfather_id,mother_id,total_race_number,date,place,weather,race_name,whole_horse_number,odds,order,jockey_id,burden_weight,race_distance,ground_condition,goal_time,half_order,last_time,horse_weight
0,1978105785,000a000a2d,000a00043f,1955104595,7,1986-08-02,2新潟7,晴,障害4歳以上400万下,10,34.7,10,591,57.0,障2800,良,3:22.5,9-10-10-10,,446(-4)
1,1978105785,000a000a2d,000a00043f,1955104595,7,1986-05-11,2東京8,曇,障害4歳以上400万下,9,8.4,6,591,57.0,障3300,良,3:47.9,2-2-3-2,,450(+2)
2,1978105785,000a000a2d,000a00043f,1955104595,7,1986-04-20,2東京2,小雨,障害4歳以上400万下,13,33.2,4,377,57.0,障3100,重,3:36.4,1-1-1-2,,448(-2)

weather

In [11]:
weather = horse_df["weather"].str.extract('(晴|曇|小雨|雨|小雪|雪)', expand = True)
weather.columns = {"weather_circumstance"}
horse_df = pd.concat([horse_df, weather], axis = 1)
horse_df = pd.get_dummies(horse_df, columns = ["weather_circumstance"])

In [12]:
horse_df.drop(["weather"], axis = 1, inplace = True)

In [13]:
horse_df.head(3)

,horse_id,father_id,grandfather_id,mother_id,total_race_number,date,place,race_name,whole_horse_number,odds,order,jockey_id,burden_weight,race_distance,ground_condition,goal_time,half_order,last_time,horse_weight,weather_circumstance_小雨,weather_circumstance_小雪,weather_circumstance_晴,weather_circumstance_曇,weather_circumstance_雨,weather_circumstance_雪
0,1978105785,000a000a2d,000a00043f,1955104595,7,1986-08-02,2新潟7,障害4歳以上400万下,10,34.7,10,591,57.0,障2800,良,3:22.5,9-10-10-10,,446(-4),0,0,1,0,0,0
1,1978105785,000a000a2d,000a00043f,1955104595,7,1986-05-11,2東京8,障害4歳以上400万下,9,8.4,6,591,57.0,障3300,良,3:47.9,2-2-3-2,,450(+2),0,0,0,1,0,0
2,1978105785,000a000a2d,000a00043f,1955104595,7,1986-04-20,2東京2,障害4歳以上400万下,13,33.2,4,377,57.0,障3100,重,3:36.4,1-1-1-2,,448(-2),1,0,0,0,0,0

In [14]:
horse_df[horse_df["horse_id"] == 2008103048].tail(10)

,horse_id,father_id,grandfather_id,mother_id,total_race_number,date,place,race_name,whole_horse_number,odds,order,jockey_id,burden_weight,race_distance,ground_condition,goal_time,half_order,last_time,horse_weight,weather_circumstance_小雨,weather_circumstance_小雪,weather_circumstance_晴,weather_circumstance_曇,weather_circumstance_雨,weather_circumstance_雪
19,2008103048,1998190004,000a001bde,2001103218,29,2011-12-04,5中山2,ターコイズS(OP),15,7.9,13,1122,54.0,芝1600,稍,1:34.2,1-1-1,36.1,494(-4),0,0,1,0,0,0
20,2008103048,1998190004,000a001bde,2001103218,29,2011-11-12,5東京3,パラダイスS(OP),14,8.1,6,1122,53.0,芝1400,良,1:22.2,1-1,34.1,498(+10),0,0,0,1,0,0
21,2008103048,1998190004,000a001bde,2001103218,29,2011-05-08,2東京6,NHKマイルC(G1),18,40.1,8,733,55.0,芝1600,良,1:32.9,1-1,35.3,488(0),0,0,1,0,0,0
22,2008103048,1998190004,000a001bde,2001103218,29,2011-04-10,2阪神6,桜花賞(G1),18,44.2,5,733,55.0,芝1600,良,1:34.5,1-1,36,488(-4),0,0,1,0,0,0
23,2008103048,1998190004,000a001bde,2001103218,29,2011-03-21,1阪神5,フィリーズレビュー(G2),16,5.9,7,733,54.0,芝1400,稍,1:22.8,2-2,36.8,492(+2),0,0,0,1,0,0
24,2008103048,1998190004,000a001bde,2001103218,29,2011-01-29,1東京1,クロッカスS(OP),11,3.3,1,733,54.0,芝1400,良,1:21.0,1-1,34.2,490(-6),0,0,1,0,0,0
25,2008103048,1998190004,000a001bde,2001103218,29,2010-12-12,5阪神4,阪神ジュベナイルF(G1),18,60.7,8,733,54.0,芝1600,良,1:36.4,3-4,34.9,496(+4),0,0,1,0,0,0
26,2008103048,1998190004,000a001bde,2001103218,29,2010-11-21,5東京6,からまつ賞(500万下),9,4.4,1,733,54.0,芝1400,良,1:22.7,1-1,33.9,492(-4),0,0,1,0,0,0
27,2008103048,1998190004,000a001bde,2001103218,29,2010-10-31,3福島4,2歳未勝利,16,4.3,1,1123,51.0,芝1200,重,1:09.7,2-2,36,496(+6),1,0,0,0,0,0
28,2008103048,1998190004,000a001bde,2001103218,29,2010-07-18,2新潟2,2歳新馬,17,21.6,2,1031,54.0,芝1400,良,1:23.0,2-2,37.1,490(0),0,0,1,0,0,0

place

In [15]:
horse_df["place"] = horse_df["place"].str.replace('\d*(..)\d*',r'\1')
horse_df["place"].unique()

array(['新潟', '東京', '中山', '中京', '小倉', '阪神', '福島', '札幌', '門別', '函館', '船橋',
       '川崎', '大井', '笠松', '園田', '名古屋', '浦和', '佐賀', 'メイダン', '高知', '金沢',
       'ソウル', 'キングア', '盛岡', 'チャーチ', 'ロンシャ', 'ドーヴィ', 'ニューマ', 'デルマー', '京都',
       '姫路', '水沢', 'アスコッ', 'シャティ', 'グッドウ', 'ベルモン', 'ピムリコ', 'サンタア', 'ランドウ',
       'フレミン', 'コーフィ', 'アメリカ', 'フランス', 'オースト', 'シャンテ', 'アラブ首', 'バーレー',
       'イギリス', 'サンダウ', 'レパーズ', 'ムーニー', nan, '韓国', 'カタール', '香港', 'ヨーク',
       'シンガポ', '福山', '荒尾', '札幌(地)', '旭川', '宇都宮', '高崎', '上山', 'アイルラ', '足利',
       '新潟(地)', '三条', '中京(地)', '中津', '岩見沢', '帯広', 'カナダ', '函館(地)'],
      dtype=object)

In [16]:
main_place = horse_df["place"].str.extract('(中山|東京|福島|新潟|札幌|中京|京都|函館|阪神|小倉)', expand = True)
main_place.columns = {"main_place"}

horse_df = pd.concat([horse_df, main_place], axis = 1)
horse_df.fillna(value = {'main_place': 'その他'}, inplace = True)

In [17]:
horse_df["main_place"].unique()

array(['新潟', '東京', '中山', '中京', '小倉', '阪神', '福島', '札幌', 'その他', '函館', '京都'],
      dtype=object)

In [18]:
horse_df = pd.get_dummies(horse_df, columns = ["main_place"])
horse_df.drop(["place"], axis = 1, inplace = True)

In [19]:
horse_df.head(3)

,horse_id,father_id,grandfather_id,mother_id,total_race_number,date,race_name,whole_horse_number,odds,order,jockey_id,burden_weight,race_distance,ground_condition,goal_time,half_order,last_time,horse_weight,weather_circumstance_小雨,weather_circumstance_小雪,weather_circumstance_晴,weather_circumstance_曇,weather_circumstance_雨,weather_circumstance_雪,main_place_その他,main_place_中京,main_place_中山,main_place_京都,main_place_函館,main_place_小倉,main_place_新潟,main_place_札幌,main_place_東京,main_place_福島,main_place_阪神
0,1978105785,000a000a2d,000a00043f,1955104595,7,1986-08-02,障害4歳以上400万下,10,34.7,10,591,57.0,障2800,良,3:22.5,9-10-10-10,,446(-4),0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,1978105785,000a000a2d,000a00043f,1955104595,7,1986-05-11,障害4歳以上400万下,9,8.4,6,591,57.0,障3300,良,3:47.9,2-2-3-2,,450(+2),0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
2,1978105785,000a000a2d,000a00043f,1955104595,7,1986-04-20,障害4歳以上400万下,13,33.2,4,377,57.0,障3100,重,3:36.4,1-1-1-2,,448(-2),1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

race_name

In [20]:
race_rank = horse_df["race_name"].str.extract('(G1|G2|G3)', expand = True)
race_rank.columns = {"race_rank"}

horse_df = pd.concat([horse_df, race_rank], axis = 1)
horse_df.fillna(value = {'race_rank': 0}, inplace = True) # 元もデータに反映
horse_df['race_rank'] = horse_df['race_rank'].replace('G1', 10)
horse_df['race_rank'] = horse_df['race_rank'].replace('G2', 5)
horse_df['race_rank'] = horse_df['race_rank'].replace('G3', 3)

print("race_rank:", horse_df["race_rank"].value_counts())

# delete initial column
horse_df.drop(['race_name'], axis = 1, inplace = True)

race_rank: 0     1474163
3       31583
5       16281
10      13108
Name: race_rank, dtype: int64

In [21]:
horse_df.head(3)
print(horse_df.shape)

(1535135, 35)

whole_horse_number

In [22]:
horse_df["whole_horse_number"].unique()

array([10, 9, 13, 8, 6, 16, 15, 12, 18, 14, 11, 17, 7, 4, 5, 20, 0, 24,
       21, 19, '14', '16', '\xa0', '9', '15', '18', '12', '11', '17',
       '13', '8', '20', '10', '7', '0', '6', '5', 3, '24', 28, 23, 22],
      dtype=object)

In [23]:
print(horse_df[((horse_df["whole_horse_number"] == 0) | (horse_df["whole_horse_number"] == '\xa0') | (horse_df["whole_horse_number"] == '0') )&( (horse_df["horse_id"] == 2008103048))])

Empty DataFrame
Columns: [horse_id, father_id, grandfather_id, mother_id, total_race_number, date, whole_horse_number, odds, order, jockey_id, burden_weight, race_distance, ground_condition, goal_time, half_order, last_time, horse_weight, weather_circumstance_小雨, weather_circumstance_小雪, weather_circumstance_晴, weather_circumstance_曇, weather_circumstance_雨, weather_circumstance_雪, main_place_その他, main_place_中京, main_place_中山, main_place_京都, main_place_函館, main_place_小倉, main_place_新潟, main_place_札幌, main_place_東京, main_place_福島, main_place_阪神, race_rank]
Index: []

In [24]:
horse_df = horse_df[(horse_df["whole_horse_number"] != 0) & (horse_df["whole_horse_number"] != '\xa0') & (horse_df["whole_horse_number"] != '0')]

In [25]:
horse_df["whole_horse_number"] = horse_df["whole_horse_number"].astype(int)

In [26]:
horse_df.head(3)

,horse_id,father_id,grandfather_id,mother_id,total_race_number,date,whole_horse_number,odds,order,jockey_id,burden_weight,race_distance,ground_condition,goal_time,half_order,last_time,horse_weight,weather_circumstance_小雨,weather_circumstance_小雪,weather_circumstance_晴,weather_circumstance_曇,weather_circumstance_雨,weather_circumstance_雪,main_place_その他,main_place_中京,main_place_中山,main_place_京都,main_place_函館,main_place_小倉,main_place_新潟,main_place_札幌,main_place_東京,main_place_福島,main_place_阪神,race_rank
0,1978105785,000a000a2d,000a00043f,1955104595,7,1986-08-02,10,34.7,10,591,57.0,障2800,良,3:22.5,9-10-10-10,,446(-4),0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,1978105785,000a000a2d,000a00043f,1955104595,7,1986-05-11,9,8.4,6,591,57.0,障3300,良,3:47.9,2-2-3-2,,450(+2),0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,1978105785,000a000a2d,000a00043f,1955104595,7,1986-04-20,13,33.2,4,377,57.0,障3100,重,3:36.4,1-1-1-2,,448(-2),1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [27]:
print(horse_df.shape)
horse_df[horse_df["horse_id"] == 2008103048].tail(10)

(1532511, 35)

,horse_id,father_id,grandfather_id,mother_id,total_race_number,date,whole_horse_number,odds,order,jockey_id,burden_weight,race_distance,ground_condition,goal_time,half_order,last_time,horse_weight,weather_circumstance_小雨,weather_circumstance_小雪,weather_circumstance_晴,weather_circumstance_曇,weather_circumstance_雨,weather_circumstance_雪,main_place_その他,main_place_中京,main_place_中山,main_place_京都,main_place_函館,main_place_小倉,main_place_新潟,main_place_札幌,main_place_東京,main_place_福島,main_place_阪神,race_rank
19,2008103048,1998190004,000a001bde,2001103218,29,2011-12-04,15,7.9,13,1122,54.0,芝1600,稍,1:34.2,1-1-1,36.1,494(-4),0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
20,2008103048,1998190004,000a001bde,2001103218,29,2011-11-12,14,8.1,6,1122,53.0,芝1400,良,1:22.2,1-1,34.1,498(+10),0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
21,2008103048,1998190004,000a001bde,2001103218,29,2011-05-08,18,40.1,8,733,55.0,芝1600,良,1:32.9,1-1,35.3,488(0),0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,10
22,2008103048,1998190004,000a001bde,2001103218,29,2011-04-10,18,44.2,5,733,55.0,芝1600,良,1:34.5,1-1,36,488(-4),0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,10
23,2008103048,1998190004,000a001bde,2001103218,29,2011-03-21,16,5.9,7,733,54.0,芝1400,稍,1:22.8,2-2,36.8,492(+2),0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,5
24,2008103048,1998190004,000a001bde,2001103218,29,2011-01-29,11,3.3,1,733,54.0,芝1400,良,1:21.0,1-1,34.2,490(-6),0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
25,2008103048,1998190004,000a001bde,2001103218,29,2010-12-12,18,60.7,8,733,54.0,芝1600,良,1:36.4,3-4,34.9,496(+4),0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,10
26,2008103048,1998190004,000a001bde,2001103218,29,2010-11-21,9,4.4,1,733,54.0,芝1400,良,1:22.7,1-1,33.9,492(-4),0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
27,2008103048,1998190004,000a001bde,2001103218,29,2010-10-31,16,4.3,1,1123,51.0,芝1200,重,1:09.7,2-2,36,496(+6),1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
28,2008103048,1998190004,000a001bde,2001103218,29,2010-07-18,17,21.6,2,1031,54.0,芝1400,良,1:23.0,2-2,37.1,490(0),0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

order

In [28]:
horse_df["order"].unique()

array(['10', '6', '4', '1', '2', '中', 7, 4, 5, 1, 2, 3, 13, 14, 6, 9, 11,
       10, 8, 15, 16, 12, 17, '11', '3', '除', '取', '5', '15', '16', '13',
       '3(降)', 18, '7', '9', '12', '8', '14', 19, '17', '18', '失', '4(降)',
       '5(降)', '2(降)', '6(降)', '10(降)', '13(降)', '11(降)', '9(降)', '7(降)',
       '14(降)', '12(降)', '18(降)', '15(降)', '16(降)', '17(降)', '12(再)', nan,
       '8(降)', '11(再)', 22, '8(再)', '19', 20, '5(再)', 21, '9(再)', 24, 23,
       '20', '21'], dtype=object)

In [29]:
print(horse_df[(horse_df["order"] == "nan")&(horse_df["horse_id"] == 2008103048)])

Empty DataFrame
Columns: [horse_id, father_id, grandfather_id, mother_id, total_race_number, date, whole_horse_number, odds, order, jockey_id, burden_weight, race_distance, ground_condition, goal_time, half_order, last_time, horse_weight, weather_circumstance_小雨, weather_circumstance_小雪, weather_circumstance_晴, weather_circumstance_曇, weather_circumstance_雨, weather_circumstance_雪, main_place_その他, main_place_中京, main_place_中山, main_place_京都, main_place_函館, main_place_小倉, main_place_新潟, main_place_札幌, main_place_東京, main_place_福島, main_place_阪神, race_rank]
Index: []

In [30]:
horse_df["order"] = horse_df["order"].astype(str)
horse_df = horse_df[(horse_df["order"] != "nan")]

In [31]:
horse_df = horse_df[(horse_df["order"] != "取") & (horse_df["order"] != "除") & (horse_df["order"] != "中") & (horse_df["order"] != "失")]
horse_df['order'] = horse_df['order'].apply(lambda x: x.replace("(降)", ""))
horse_df['order'] = horse_df['order'].apply(lambda x: x.replace("(再)", ""))

In [32]:
horse_df['order'] = horse_df['order'].str.strip(".0")

In [33]:
horse_df["order"] = horse_df["order"].astype(str)

In [34]:
print(horse_df[horse_df["horse_id"] == 2008103048].tail(10))

      horse_id   father_id grandfather_id   mother_id  total_race_number  \
19  2008103048  1998190004     000a001bde  2001103218                 29
20  2008103048  1998190004     000a001bde  2001103218                 29
21  2008103048  1998190004     000a001bde  2001103218                 29
22  2008103048  1998190004     000a001bde  2001103218                 29
23  2008103048  1998190004     000a001bde  2001103218                 29
24  2008103048  1998190004     000a001bde  2001103218                 29
25  2008103048  1998190004     000a001bde  2001103218                 29
26  2008103048  1998190004     000a001bde  2001103218                 29
27  2008103048  1998190004     000a001bde  2001103218                 29
28  2008103048  1998190004     000a001bde  2001103218                 29

         date  whole_horse_number  odds order jockey_id  burden_weight  \
19 2011-12-04                  15   7.9    13      1122           54.0
20 2011-11-12                  14   8.1     6      1122           53.0
21 2011-05-08                  18  40.1     8       733           55.0
22 2011-04-10                  18  44.2     5       733           55.0
23 2011-03-21                  16   5.9     7       733           54.0
24 2011-01-29                  11   3.3     1       733           54.0
25 2010-12-12                  18  60.7     8       733           54.0
26 2010-11-21                   9   4.4     1       733           54.0
27 2010-10-31                  16   4.3     1      1123           51.0
28 2010-07-18                  17  21.6     2      1031           54.0

   race_distance ground_condition goal_time half_order last_time horse_weight  \
19         芝1600                稍    1:34.2      1-1-1      36.1      494(-4)
20         芝1400                良    1:22.2        1-1      34.1     498(+10)
21         芝1600                良    1:32.9        1-1      35.3       488(0)
22         芝1600                良    1:34.5        1-1        36      488(-4)
23         芝1400                稍    1:22.8        2-2      36.8      492(+2)
24         芝1400                良    1:21.0        1-1      34.2      490(-6)
25         芝1600                良    1:36.4        3-4      34.9      496(+4)
26         芝1400                良    1:22.7        1-1      33.9      492(-4)
27         芝1200                重    1:09.7        2-2        36      496(+6)
28         芝1400                良    1:23.0        2-2      37.1       490(0)

    weather_circumstance_小雨  weather_circumstance_小雪  weather_circumstance_晴  \
19                        0                        0                       1
20                        0                        0                       0
21                        0                        0                       1
22                        0                        0                       1
23                        0                        0                       0
24                        0                        0                       1
25                        0                        0                       1
26                        0                        0                       1
27                        1                        0                       0
28                        0                        0                       1

    weather_circumstance_曇  weather_circumstance_雨  weather_circumstance_雪  \
19                       0                       0                       0
20                       1                       0                       0
21                       0                       0                       0
22                       0                       0                       0
23                       1                       0                       0
24                       0                       0                       0
25                       0                       0                       0
26                       0                       0                       0
27                       0                       0                       0
28                       0                       0                       0

    main_place_その他  main_place_中京  main_place_中山  main_place_京都  \
19               0              0              1              0
20               0              0              0              0
21               0              0              0              0
22               0              0              0              0
23               0              0              0              0
24               0              0              0              0
25               0              0              0              0
26               0              0              0              0
27               0              0              0              0
28               0              0              0              0

    main_place_函館  main_place_小倉  main_place_新潟  main_place_札幌  main_place_東京  \
19              0              0              0              0              0
20              0              0              0              0              1
21              0              0              0              0              1
22              0              0              0              0              0
23              0              0              0              0              0
24              0              0              0              0              1
25              0              0              0              0              0
26              0              0              0              0              1
27              0              0              0              0              0
28              0              0              1              0              0

    main_place_福島  main_place_阪神  race_rank
19              0              0          0
20              0              0          0
21              0              0         10
22              0              1         10
23              0              1          5
24              0              0          0
25              0              1         10
26              0              0          0
27              1              0          0
28              0              0          0

odds

In [35]:
horse_df["odds"] = horse_df["odds"].astype(str)
horse_df = horse_df[(horse_df["odds"] != "nan") & (horse_df["odds"] != '\xa0')]

In [36]:
horse_df['odds'] = horse_df['odds'].str.replace(",", "")

In [37]:
horse_df["odds"].unique()
horse_df["odds"] = pd.to_numeric(horse_df["odds"])

In [38]:
print(horse_df["odds"].dtypes)

float64

In [39]:
horse_df.head(3)

,horse_id,father_id,grandfather_id,mother_id,total_race_number,date,whole_horse_number,odds,order,jockey_id,burden_weight,race_distance,ground_condition,goal_time,half_order,last_time,horse_weight,weather_circumstance_小雨,weather_circumstance_小雪,weather_circumstance_晴,weather_circumstance_曇,weather_circumstance_雨,weather_circumstance_雪,main_place_その他,main_place_中京,main_place_中山,main_place_京都,main_place_函館,main_place_小倉,main_place_新潟,main_place_札幌,main_place_東京,main_place_福島,main_place_阪神,race_rank
0,1978105785,000a000a2d,000a00043f,1955104595,7,1986-08-02,10,34.7,1,591,57.0,障2800,良,3:22.5,9-10-10-10,,446(-4),0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,1978105785,000a000a2d,000a00043f,1955104595,7,1986-05-11,9,8.4,6,591,57.0,障3300,良,3:47.9,2-2-3-2,,450(+2),0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,1978105785,000a000a2d,000a00043f,1955104595,7,1986-04-20,13,33.2,4,377,57.0,障3100,重,3:36.4,1-1-1-2,,448(-2),1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [40]:
print(horse_df[horse_df["horse_id"] == 2008103048].tail(10))

      horse_id   father_id grandfather_id   mother_id  total_race_number  \
19  2008103048  1998190004     000a001bde  2001103218                 29
20  2008103048  1998190004     000a001bde  2001103218                 29
21  2008103048  1998190004     000a001bde  2001103218                 29
22  2008103048  1998190004     000a001bde  2001103218                 29
23  2008103048  1998190004     000a001bde  2001103218                 29
24  2008103048  1998190004     000a001bde  2001103218                 29
25  2008103048  1998190004     000a001bde  2001103218                 29
26  2008103048  1998190004     000a001bde  2001103218                 29
27  2008103048  1998190004     000a001bde  2001103218                 29
28  2008103048  1998190004     000a001bde  2001103218                 29

         date  whole_horse_number  odds order jockey_id  burden_weight  \
19 2011-12-04                  15   7.9    13      1122           54.0
20 2011-11-12                  14   8.1     6      1122           53.0
21 2011-05-08                  18  40.1     8       733           55.0
22 2011-04-10                  18  44.2     5       733           55.0
23 2011-03-21                  16   5.9     7       733           54.0
24 2011-01-29                  11   3.3     1       733           54.0
25 2010-12-12                  18  60.7     8       733           54.0
26 2010-11-21                   9   4.4     1       733           54.0
27 2010-10-31                  16   4.3     1      1123           51.0
28 2010-07-18                  17  21.6     2      1031           54.0

   race_distance ground_condition goal_time half_order last_time horse_weight  \
19         芝1600                稍    1:34.2      1-1-1      36.1      494(-4)
20         芝1400                良    1:22.2        1-1      34.1     498(+10)
21         芝1600                良    1:32.9        1-1      35.3       488(0)
22         芝1600                良    1:34.5        1-1        36      488(-4)
23         芝1400                稍    1:22.8        2-2      36.8      492(+2)
24         芝1400                良    1:21.0        1-1      34.2      490(-6)
25         芝1600                良    1:36.4        3-4      34.9      496(+4)
26         芝1400                良    1:22.7        1-1      33.9      492(-4)
27         芝1200                重    1:09.7        2-2        36      496(+6)
28         芝1400                良    1:23.0        2-2      37.1       490(0)

    weather_circumstance_小雨  weather_circumstance_小雪  weather_circumstance_晴  \
19                        0                        0                       1
20                        0                        0                       0
21                        0                        0                       1
22                        0                        0                       1
23                        0                        0                       0
24                        0                        0                       1
25                        0                        0                       1
26                        0                        0                       1
27                        1                        0                       0
28                        0                        0                       1

    weather_circumstance_曇  weather_circumstance_雨  weather_circumstance_雪  \
19                       0                       0                       0
20                       1                       0                       0
21                       0                       0                       0
22                       0                       0                       0
23                       1                       0                       0
24                       0                       0                       0
25                       0                       0                       0
26                       0                       0                       0
27                       0                       0                       0
28                       0                       0                       0

    main_place_その他  main_place_中京  main_place_中山  main_place_京都  \
19               0              0              1              0
20               0              0              0              0
21               0              0              0              0
22               0              0              0              0
23               0              0              0              0
24               0              0              0              0
25               0              0              0              0
26               0              0              0              0
27               0              0              0              0
28               0              0              0              0

    main_place_函館  main_place_小倉  main_place_新潟  main_place_札幌  main_place_東京  \
19              0              0              0              0              0
20              0              0              0              0              1
21              0              0              0              0              1
22              0              0              0              0              0
23              0              0              0              0              0
24              0              0              0              0              1
25              0              0              0              0              0
26              0              0              0              0              1
27              0              0              0              0              0
28              0              0              1              0              0

    main_place_福島  main_place_阪神  race_rank
19              0              0          0
20              0              0          0
21              0              0         10
22              0              1         10
23              0              1          5
24              0              0          0
25              0              1         10
26              0              0          0
27              1              0          0
28              0              0          0

race_distance

In [41]:
horse_df["race_distance"].unique()

array(['障2800', '障3300', '障3100', '障2700', 'ダ1400', 'ダ1700', 'ダ1200',
       'ダ1150', 'ダ1300', '芝1200', '芝1400', 'ダ1800', 'ダ1900', 'ダ2100',
       'ダ1600', '芝1800', '芝1600', '芝2200', '芝2400', '芝2000', 'ダ1500',
       'ダ1000', '芝1000', '芝1500', 'ダ2000', 'ダ2400', '芝2600', '芝2300',
       'ダ1870', 'ダ1100', 'ダ900', '芝1700', '芝2500', 'ダ1750', '障2880',
       'ダ800', '障2750', '障3000', 'ダ1230', 'ダ2500', '障2890', '障3350',
       '障2860', '障2850', '障3250', '障2770', '障3390', '障3110', '芝3000',
       'ダ1650', 'ダ2200', 'ダ850', 'ダ920', '芝3400', '芝2410', '芝1990',
       '障2970', '芝3200', 'ダ820', '芝3600', '障3290', '障3210', '障3140',
       '障3330', '障3900', '障4250', '障3200', '障4100', '障3570', '障3380',
       'ダ2600', '障2910', '障3930', '障3170', '芝1900', '芝2100', '芝1980',
       '芝2040', '障2900', '芝2050', '芝2390', 'ダ2300', 'ダ1250', 'ダ1130',
       'ダ2250', 'ダ950', '障3760', '障2930', '障4260', '障3790', '障3190',
       '障3370', '障3285', 'ダ3000', 'ダ2485', '障2950', '障3180', '障2780',
       '障3800', '障3150', '障3030', '障2710', '障3600', '芝2800', '障3270',
       '芝1100', '障4000'], dtype=object)

In [42]:
ground_type = horse_df["race_distance"].str.extract('(芝|ダ|障)', expand = True)
ground_type.columns = {"ground_type"}
horse_df = pd.concat([horse_df, ground_type], axis = 1)
horse_df = pd.get_dummies(horse_df, columns = ["ground_type"])

horse_df['race_distance'] = horse_df['race_distance'].apply(lambda x: x.replace("芝", ""))
horse_df['race_distance'] = horse_df['race_distance'].apply(lambda x: x.replace("ダ", ""))
horse_df['race_distance'] = horse_df['race_distance'].apply(lambda x: x.replace("障", ""))

horse_df["race_distance"] = horse_df["race_distance"].astype(int)

In [43]:
horse_df.head(3)

,horse_id,father_id,grandfather_id,mother_id,total_race_number,date,whole_horse_number,odds,order,jockey_id,burden_weight,race_distance,ground_condition,goal_time,half_order,last_time,horse_weight,weather_circumstance_小雨,weather_circumstance_小雪,weather_circumstance_晴,weather_circumstance_曇,weather_circumstance_雨,weather_circumstance_雪,main_place_その他,main_place_中京,main_place_中山,main_place_京都,main_place_函館,main_place_小倉,main_place_新潟,main_place_札幌,main_place_東京,main_place_福島,main_place_阪神,race_rank,ground_type_ダ,ground_type_芝,ground_type_障
0,1978105785,000a000a2d,000a00043f,1955104595,7,1986-08-02,10,34.7,1,591,57.0,2800,良,3:22.5,9-10-10-10,,446(-4),0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
1,1978105785,000a000a2d,000a00043f,1955104595,7,1986-05-11,9,8.4,6,591,57.0,3300,良,3:47.9,2-2-3-2,,450(+2),0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
2,1978105785,000a000a2d,000a00043f,1955104595,7,1986-04-20,13,33.2,4,377,57.0,3100,重,3:36.4,1-1-1-2,,448(-2),1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1

ground_condition

In [44]:
horse_df["ground_condition"].unique()

array(['良', '重', '稍', '不', nan], dtype=object)

In [45]:
horse_df["ground_condition"] = horse_df["ground_condition"].astype(str)
horse_df = horse_df[(horse_df["ground_condition"] != "nan")]

In [46]:
horse_df["ground_condition"] = horse_df["ground_condition"].replace('(不)', 4, regex = True)
horse_df["ground_condition"] = horse_df["ground_condition"].replace('(重)', 3, regex = True)
horse_df["ground_condition"] = horse_df["ground_condition"].replace('(稍)', 2, regex = True)
horse_df["ground_condition"] = horse_df["ground_condition"].replace('(良)', 1, regex = True)

In [47]:
print("ground_condition:", horse_df["ground_condition"].value_counts())

ground_condition: 1    967618
2    218136
3    157002
4    127559
Name: ground_condition, dtype: int64

In [48]:
horse_df.head(3)

,horse_id,father_id,grandfather_id,mother_id,total_race_number,date,whole_horse_number,odds,order,jockey_id,burden_weight,race_distance,ground_condition,goal_time,half_order,last_time,horse_weight,weather_circumstance_小雨,weather_circumstance_小雪,weather_circumstance_晴,weather_circumstance_曇,weather_circumstance_雨,weather_circumstance_雪,main_place_その他,main_place_中京,main_place_中山,main_place_京都,main_place_函館,main_place_小倉,main_place_新潟,main_place_札幌,main_place_東京,main_place_福島,main_place_阪神,race_rank,ground_type_ダ,ground_type_芝,ground_type_障
0,1978105785,000a000a2d,000a00043f,1955104595,7,1986-08-02,10,34.7,1,591,57.0,2800,1,3:22.5,9-10-10-10,,446(-4),0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
1,1978105785,000a000a2d,000a00043f,1955104595,7,1986-05-11,9,8.4,6,591,57.0,3300,1,3:47.9,2-2-3-2,,450(+2),0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
2,1978105785,000a000a2d,000a00043f,1955104595,7,1986-04-20,13,33.2,4,377,57.0,3100,3,3:36.4,1-1-1-2,,448(-2),1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1

In [49]:
print(horse_df[horse_df["horse_id"] == 2008103048].tail(10))

      horse_id   father_id grandfather_id   mother_id  total_race_number  \
19  2008103048  1998190004     000a001bde  2001103218                 29
20  2008103048  1998190004     000a001bde  2001103218                 29
21  2008103048  1998190004     000a001bde  2001103218                 29
22  2008103048  1998190004     000a001bde  2001103218                 29
23  2008103048  1998190004     000a001bde  2001103218                 29
24  2008103048  1998190004     000a001bde  2001103218                 29
25  2008103048  1998190004     000a001bde  2001103218                 29
26  2008103048  1998190004     000a001bde  2001103218                 29
27  2008103048  1998190004     000a001bde  2001103218                 29
28  2008103048  1998190004     000a001bde  2001103218                 29

         date  whole_horse_number  odds order jockey_id  burden_weight  \
19 2011-12-04                  15   7.9    13      1122           54.0
20 2011-11-12                  14   8.1     6      1122           53.0
21 2011-05-08                  18  40.1     8       733           55.0
22 2011-04-10                  18  44.2     5       733           55.0
23 2011-03-21                  16   5.9     7       733           54.0
24 2011-01-29                  11   3.3     1       733           54.0
25 2010-12-12                  18  60.7     8       733           54.0
26 2010-11-21                   9   4.4     1       733           54.0
27 2010-10-31                  16   4.3     1      1123           51.0
28 2010-07-18                  17  21.6     2      1031           54.0

    race_distance  ground_condition goal_time half_order last_time  \
19           1600                 2    1:34.2      1-1-1      36.1
20           1400                 1    1:22.2        1-1      34.1
21           1600                 1    1:32.9        1-1      35.3
22           1600                 1    1:34.5        1-1        36
23           1400                 2    1:22.8        2-2      36.8
24           1400                 1    1:21.0        1-1      34.2
25           1600                 1    1:36.4        3-4      34.9
26           1400                 1    1:22.7        1-1      33.9
27           1200                 3    1:09.7        2-2        36
28           1400                 1    1:23.0        2-2      37.1

   horse_weight  weather_circumstance_小雨  weather_circumstance_小雪  \
19      494(-4)                        0                        0
20     498(+10)                        0                        0
21       488(0)                        0                        0
22      488(-4)                        0                        0
23      492(+2)                        0                        0
24      490(-6)                        0                        0
25      496(+4)                        0                        0
26      492(-4)                        0                        0
27      496(+6)                        1                        0
28       490(0)                        0                        0

    weather_circumstance_晴  weather_circumstance_曇  weather_circumstance_雨  \
19                       1                       0                       0
20                       0                       1                       0
21                       1                       0                       0
22                       1                       0                       0
23                       0                       1                       0
24                       1                       0                       0
25                       1                       0                       0
26                       1                       0                       0
27                       0                       0                       0
28                       1                       0                       0

    weather_circumstance_雪  main_place_その他  main_place_中京  main_place_中山  \
19                       0               0              0              1
20                       0               0              0              0
21                       0               0              0              0
22                       0               0              0              0
23                       0               0              0              0
24                       0               0              0              0
25                       0               0              0              0
26                       0               0              0              0
27                       0               0              0              0
28                       0               0              0              0

    main_place_京都  main_place_函館  main_place_小倉  main_place_新潟  main_place_札幌  \
19              0              0              0              0              0
20              0              0              0              0              0
21              0              0              0              0              0
22              0              0              0              0              0
23              0              0              0              0              0
24              0              0              0              0              0
25              0              0              0              0              0
26              0              0              0              0              0
27              0              0              0              0              0
28              0              0              0              1              0

    main_place_東京  main_place_福島  main_place_阪神  race_rank  ground_type_ダ  \
19              0              0              0          0              0
20              1              0              0          0              0
21              1              0              0         10              0
22              0              0              1         10              0
23              0              0              1          5              0
24              1              0              0          0              0
25              0              0              1         10              0
26              1              0              0          0              0
27              0              1              0          0              0
28              0              0              0          0              0

    ground_type_芝  ground_type_障
19              1              0
20              1              0
21              1              0
22              1              0
23              1              0
24              1              0
25              1              0
26              1              0
27              1              0
28              1              0

goal_time

In [50]:
horse_df["goal_time"].isnull().sum()

0

In [51]:
horse_df["goal_time"] = horse_df["goal_time"].astype(str)
horse_df = horse_df[(horse_df["goal_time"] != "nan") & (horse_df["goal_time"] != '\xa0')]

In [52]:
horse_df['goal_time'] = horse_df['goal_time'].str.replace(":", ".")
horse_df['goal_time'] = pd.to_datetime(horse_df['goal_time'], format='%M.%S.%f') - pd.to_datetime('00.00.0', format='%M.%S.%f')
horse_df['goal_time'] = horse_df['goal_time'].dt.total_seconds()

velocity

In [53]:
# velocity = pd.DataFrame(columns = ["velocity"])
# horse_df = pd.concat([horse_df, velocity], axis=1)
# horse_df["velocity"] = horse_df["race_distance"] / horse_df["goal_time"]

In [54]:
# horse_df.drop(['goal_time'], axis = 1, inplace = True)

In [55]:
# horse_df.head(3)

In [56]:
print(horse_df[horse_df["horse_id"] == 2008103048].tail(10))

      horse_id   father_id grandfather_id   mother_id  total_race_number  \
19  2008103048  1998190004     000a001bde  2001103218                 29
20  2008103048  1998190004     000a001bde  2001103218                 29
21  2008103048  1998190004     000a001bde  2001103218                 29
22  2008103048  1998190004     000a001bde  2001103218                 29
23  2008103048  1998190004     000a001bde  2001103218                 29
24  2008103048  1998190004     000a001bde  2001103218                 29
25  2008103048  1998190004     000a001bde  2001103218                 29
26  2008103048  1998190004     000a001bde  2001103218                 29
27  2008103048  1998190004     000a001bde  2001103218                 29
28  2008103048  1998190004     000a001bde  2001103218                 29

         date  whole_horse_number  odds order jockey_id  burden_weight  \
19 2011-12-04                  15   7.9    13      1122           54.0
20 2011-11-12                  14   8.1     6      1122           53.0
21 2011-05-08                  18  40.1     8       733           55.0
22 2011-04-10                  18  44.2     5       733           55.0
23 2011-03-21                  16   5.9     7       733           54.0
24 2011-01-29                  11   3.3     1       733           54.0
25 2010-12-12                  18  60.7     8       733           54.0
26 2010-11-21                   9   4.4     1       733           54.0
27 2010-10-31                  16   4.3     1      1123           51.0
28 2010-07-18                  17  21.6     2      1031           54.0

    race_distance  ground_condition  goal_time half_order last_time  \
19           1600                 2       94.2      1-1-1      36.1
20           1400                 1       82.2        1-1      34.1
21           1600                 1       92.9        1-1      35.3
22           1600                 1       94.5        1-1        36
23           1400                 2       82.8        2-2      36.8
24           1400                 1       81.0        1-1      34.2
25           1600                 1       96.4        3-4      34.9
26           1400                 1       82.7        1-1      33.9
27           1200                 3       69.7        2-2        36
28           1400                 1       83.0        2-2      37.1

   horse_weight  weather_circumstance_小雨  weather_circumstance_小雪  \
19      494(-4)                        0                        0
20     498(+10)                        0                        0
21       488(0)                        0                        0
22      488(-4)                        0                        0
23      492(+2)                        0                        0
24      490(-6)                        0                        0
25      496(+4)                        0                        0
26      492(-4)                        0                        0
27      496(+6)                        1                        0
28       490(0)                        0                        0

    weather_circumstance_晴  weather_circumstance_曇  weather_circumstance_雨  \
19                       1                       0                       0
20                       0                       1                       0
21                       1                       0                       0
22                       1                       0                       0
23                       0                       1                       0
24                       1                       0                       0
25                       1                       0                       0
26                       1                       0                       0
27                       0                       0                       0
28                       1                       0                       0

    weather_circumstance_雪  main_place_その他  main_place_中京  main_place_中山  \
19                       0               0              0              1
20                       0               0              0              0
21                       0               0              0              0
22                       0               0              0              0
23                       0               0              0              0
24                       0               0              0              0
25                       0               0              0              0
26                       0               0              0              0
27                       0               0              0              0
28                       0               0              0              0

    main_place_京都  main_place_函館  main_place_小倉  main_place_新潟  main_place_札幌  \
19              0              0              0              0              0
20              0              0              0              0              0
21              0              0              0              0              0
22              0              0              0              0              0
23              0              0              0              0              0
24              0              0              0              0              0
25              0              0              0              0              0
26              0              0              0              0              0
27              0              0              0              0              0
28              0              0              0              1              0

    main_place_東京  main_place_福島  main_place_阪神  race_rank  ground_type_ダ  \
19              0              0              0          0              0
20              1              0              0          0              0
21              1              0              0         10              0
22              0              0              1         10              0
23              0              0              1          5              0
24              1              0              0          0              0
25              0              0              1         10              0
26              1              0              0          0              0
27              0              1              0          0              0
28              0              0              0          0              0

    ground_type_芝  ground_type_障
19              1              0
20              1              0
21              1              0
22              1              0
23              1              0
24              1              0
25              1              0
26              1              0
27              1              0
28              1              0

half_order

In [57]:
horse_df["half_order"].isnull().sum()

0

In [58]:
horse_df["half_order"].unique()

array(['9-10-10-10', '2-2-3-2', '1-1-1-2', ..., '7-9-3-10', '4-2-6-13',
       '6-7-3-13'], dtype=object)

In [59]:
horse_df["half_order"] = horse_df["half_order"].astype(str)
horse_df = horse_df[(horse_df["half_order"] != "nan") & (horse_df["half_order"] != '\xa0')]

In [60]:
from statistics import mean
horse_df["half_order"] = horse_df["half_order"].apply(lambda x: mean([float(n) for n in (x.split("-"))]) if type(x) is str else float(x) )

In [61]:
horse_df["half_order"] = horse_df["half_order"] / horse_df["whole_horse_number"]

In [62]:
horse_df.head(3)

,horse_id,father_id,grandfather_id,mother_id,total_race_number,date,whole_horse_number,odds,order,jockey_id,burden_weight,race_distance,ground_condition,goal_time,half_order,last_time,horse_weight,weather_circumstance_小雨,weather_circumstance_小雪,weather_circumstance_晴,weather_circumstance_曇,weather_circumstance_雨,weather_circumstance_雪,main_place_その他,main_place_中京,main_place_中山,main_place_京都,main_place_函館,main_place_小倉,main_place_新潟,main_place_札幌,main_place_東京,main_place_福島,main_place_阪神,race_rank,ground_type_ダ,ground_type_芝,ground_type_障
0,1978105785,000a000a2d,000a00043f,1955104595,7,1986-08-02,10,34.7,1,591,57.0,2800,1,202.5,0.975000,,446(-4),0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
1,1978105785,000a000a2d,000a00043f,1955104595,7,1986-05-11,9,8.4,6,591,57.0,3300,1,227.9,0.250000,,450(+2),0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
2,1978105785,000a000a2d,000a00043f,1955104595,7,1986-04-20,13,33.2,4,377,57.0,3100,3,216.4,0.096154,,448(-2),1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1

In [63]:
print(horse_df[horse_df["horse_id"] == 2008103048].tail(10))

      horse_id   father_id grandfather_id   mother_id  total_race_number  \
19  2008103048  1998190004     000a001bde  2001103218                 29
20  2008103048  1998190004     000a001bde  2001103218                 29
21  2008103048  1998190004     000a001bde  2001103218                 29
22  2008103048  1998190004     000a001bde  2001103218                 29
23  2008103048  1998190004     000a001bde  2001103218                 29
24  2008103048  1998190004     000a001bde  2001103218                 29
25  2008103048  1998190004     000a001bde  2001103218                 29
26  2008103048  1998190004     000a001bde  2001103218                 29
27  2008103048  1998190004     000a001bde  2001103218                 29
28  2008103048  1998190004     000a001bde  2001103218                 29

         date  whole_horse_number  odds order jockey_id  burden_weight  \
19 2011-12-04                  15   7.9    13      1122           54.0
20 2011-11-12                  14   8.1     6      1122           53.0
21 2011-05-08                  18  40.1     8       733           55.0
22 2011-04-10                  18  44.2     5       733           55.0
23 2011-03-21                  16   5.9     7       733           54.0
24 2011-01-29                  11   3.3     1       733           54.0
25 2010-12-12                  18  60.7     8       733           54.0
26 2010-11-21                   9   4.4     1       733           54.0
27 2010-10-31                  16   4.3     1      1123           51.0
28 2010-07-18                  17  21.6     2      1031           54.0

    race_distance  ground_condition  goal_time  half_order last_time  \
19           1600                 2       94.2    0.066667      36.1
20           1400                 1       82.2    0.071429      34.1
21           1600                 1       92.9    0.055556      35.3
22           1600                 1       94.5    0.055556        36
23           1400                 2       82.8    0.125000      36.8
24           1400                 1       81.0    0.090909      34.2
25           1600                 1       96.4    0.194444      34.9
26           1400                 1       82.7    0.111111      33.9
27           1200                 3       69.7    0.125000        36
28           1400                 1       83.0    0.117647      37.1

   horse_weight  weather_circumstance_小雨  weather_circumstance_小雪  \
19      494(-4)                        0                        0
20     498(+10)                        0                        0
21       488(0)                        0                        0
22      488(-4)                        0                        0
23      492(+2)                        0                        0
24      490(-6)                        0                        0
25      496(+4)                        0                        0
26      492(-4)                        0                        0
27      496(+6)                        1                        0
28       490(0)                        0                        0

    weather_circumstance_晴  weather_circumstance_曇  weather_circumstance_雨  \
19                       1                       0                       0
20                       0                       1                       0
21                       1                       0                       0
22                       1                       0                       0
23                       0                       1                       0
24                       1                       0                       0
25                       1                       0                       0
26                       1                       0                       0
27                       0                       0                       0
28                       1                       0                       0

    weather_circumstance_雪  main_place_その他  main_place_中京  main_place_中山  \
19                       0               0              0              1
20                       0               0              0              0
21                       0               0              0              0
22                       0               0              0              0
23                       0               0              0              0
24                       0               0              0              0
25                       0               0              0              0
26                       0               0              0              0
27                       0               0              0              0
28                       0               0              0              0

    main_place_京都  main_place_函館  main_place_小倉  main_place_新潟  main_place_札幌  \
19              0              0              0              0              0
20              0              0              0              0              0
21              0              0              0              0              0
22              0              0              0              0              0
23              0              0              0              0              0
24              0              0              0              0              0
25              0              0              0              0              0
26              0              0              0              0              0
27              0              0              0              0              0
28              0              0              0              1              0

    main_place_東京  main_place_福島  main_place_阪神  race_rank  ground_type_ダ  \
19              0              0              0          0              0
20              1              0              0          0              0
21              1              0              0         10              0
22              0              0              1         10              0
23              0              0              1          5              0
24              1              0              0          0              0
25              0              0              1         10              0
26              1              0              0          0              0
27              0              1              0          0              0
28              0              0              0          0              0

    ground_type_芝  ground_type_障
19              1              0
20              1              0
21              1              0
22              1              0
23              1              0
24              1              0
25              1              0
26              1              0
27              1              0
28              1              0

last_time

In [64]:
horse_df["last_time"].isnull().sum()

0

In [65]:
horse_df["last_time"] = horse_df["last_time"].astype(str)
horse_df = horse_df[(horse_df["last_time"] != '\xa0')]

In [66]:
horse_df["last_time"] = horse_df["last_time"].astype(float)

In [67]:
horse_df.head(3)

,horse_id,father_id,grandfather_id,mother_id,total_race_number,date,whole_horse_number,odds,order,jockey_id,burden_weight,race_distance,ground_condition,goal_time,half_order,last_time,horse_weight,weather_circumstance_小雨,weather_circumstance_小雪,weather_circumstance_晴,weather_circumstance_曇,weather_circumstance_雨,weather_circumstance_雪,main_place_その他,main_place_中京,main_place_中山,main_place_京都,main_place_函館,main_place_小倉,main_place_新潟,main_place_札幌,main_place_東京,main_place_福島,main_place_阪神,race_rank,ground_type_ダ,ground_type_芝,ground_type_障
0,2019100026,000a011155,000a000178,2013106103,11,2022-09-11,13,8.4,7,1156,55.0,1400,2,84.8,0.423077,38.2,480(+8),0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
1,2019100026,000a011155,000a000178,2013106103,11,2022-08-27,16,27.9,4,1156,54.0,1700,1,106.1,0.250000,38.5,472(-2),0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
2,2019100026,000a011155,000a000178,2013106103,11,2022-07-17,15,7.1,7,732,54.0,1700,1,106.7,0.333333,38.7,474(-4),0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0

In [68]:
print(horse_df[horse_df["horse_id"] == 2008103048].tail(10))

      horse_id   father_id grandfather_id   mother_id  total_race_number  \
19  2008103048  1998190004     000a001bde  2001103218                 29
20  2008103048  1998190004     000a001bde  2001103218                 29
21  2008103048  1998190004     000a001bde  2001103218                 29
22  2008103048  1998190004     000a001bde  2001103218                 29
23  2008103048  1998190004     000a001bde  2001103218                 29
24  2008103048  1998190004     000a001bde  2001103218                 29
25  2008103048  1998190004     000a001bde  2001103218                 29
26  2008103048  1998190004     000a001bde  2001103218                 29
27  2008103048  1998190004     000a001bde  2001103218                 29
28  2008103048  1998190004     000a001bde  2001103218                 29

         date  whole_horse_number  odds order jockey_id  burden_weight  \
19 2011-12-04                  15   7.9    13      1122           54.0
20 2011-11-12                  14   8.1     6      1122           53.0
21 2011-05-08                  18  40.1     8       733           55.0
22 2011-04-10                  18  44.2     5       733           55.0
23 2011-03-21                  16   5.9     7       733           54.0
24 2011-01-29                  11   3.3     1       733           54.0
25 2010-12-12                  18  60.7     8       733           54.0
26 2010-11-21                   9   4.4     1       733           54.0
27 2010-10-31                  16   4.3     1      1123           51.0
28 2010-07-18                  17  21.6     2      1031           54.0

    race_distance  ground_condition  goal_time  half_order  last_time  \
19           1600                 2       94.2    0.066667       36.1
20           1400                 1       82.2    0.071429       34.1
21           1600                 1       92.9    0.055556       35.3
22           1600                 1       94.5    0.055556       36.0
23           1400                 2       82.8    0.125000       36.8
24           1400                 1       81.0    0.090909       34.2
25           1600                 1       96.4    0.194444       34.9
26           1400                 1       82.7    0.111111       33.9
27           1200                 3       69.7    0.125000       36.0
28           1400                 1       83.0    0.117647       37.1

   horse_weight  weather_circumstance_小雨  weather_circumstance_小雪  \
19      494(-4)                        0                        0
20     498(+10)                        0                        0
21       488(0)                        0                        0
22      488(-4)                        0                        0
23      492(+2)                        0                        0
24      490(-6)                        0                        0
25      496(+4)                        0                        0
26      492(-4)                        0                        0
27      496(+6)                        1                        0
28       490(0)                        0                        0

    weather_circumstance_晴  weather_circumstance_曇  weather_circumstance_雨  \
19                       1                       0                       0
20                       0                       1                       0
21                       1                       0                       0
22                       1                       0                       0
23                       0                       1                       0
24                       1                       0                       0
25                       1                       0                       0
26                       1                       0                       0
27                       0                       0                       0
28                       1                       0                       0

    weather_circumstance_雪  main_place_その他  main_place_中京  main_place_中山  \
19                       0               0              0              1
20                       0               0              0              0
21                       0               0              0              0
22                       0               0              0              0
23                       0               0              0              0
24                       0               0              0              0
25                       0               0              0              0
26                       0               0              0              0
27                       0               0              0              0
28                       0               0              0              0

    main_place_京都  main_place_函館  main_place_小倉  main_place_新潟  main_place_札幌  \
19              0              0              0              0              0
20              0              0              0              0              0
21              0              0              0              0              0
22              0              0              0              0              0
23              0              0              0              0              0
24              0              0              0              0              0
25              0              0              0              0              0
26              0              0              0              0              0
27              0              0              0              0              0
28              0              0              0              1              0

    main_place_東京  main_place_福島  main_place_阪神  race_rank  ground_type_ダ  \
19              0              0              0          0              0
20              1              0              0          0              0
21              1              0              0         10              0
22              0              0              1         10              0
23              0              0              1          5              0
24              1              0              0          0              0
25              0              0              1         10              0
26              1              0              0          0              0
27              0              1              0          0              0
28              0              0              0          0              0

    ground_type_芝  ground_type_障
19              1              0
20              1              0
21              1              0
22              1              0
23              1              0
24              1              0
25              1              0
26              1              0
27              1              0
28              1              0

horse_weight

In [69]:
horse_weight_dif = horse_df["horse_weight"].str.extract('\(([-|+]?\d*)\)', expand=True)
horse_weight_dif.columns ={"horse_weight_dif"}

horse_df = pd.concat([horse_df, horse_weight_dif], axis=1)

horse_df['horse_weight'] = horse_df['horse_weight'].replace('\(([-|+]?\d*)\)', '', regex=True)

In [70]:
horse_df = horse_df[(horse_df["horse_weight"] != '計不')]
#horse_df['horse_weight'] = horse_df['horse_weight'].replace('計不', np.nan)
horse_df['horse_weight'] = horse_df['horse_weight'].astype(float)
horse_df['horse_weight_dif'] = horse_df['horse_weight_dif'].astype(float)

In [71]:
horse_df["horse_weight"].isnull().sum()

0

In [72]:
horse_df.head(3)

,horse_id,father_id,grandfather_id,mother_id,total_race_number,date,whole_horse_number,odds,order,jockey_id,burden_weight,race_distance,ground_condition,goal_time,half_order,last_time,horse_weight,weather_circumstance_小雨,weather_circumstance_小雪,weather_circumstance_晴,weather_circumstance_曇,weather_circumstance_雨,weather_circumstance_雪,main_place_その他,main_place_中京,main_place_中山,main_place_京都,main_place_函館,main_place_小倉,main_place_新潟,main_place_札幌,main_place_東京,main_place_福島,main_place_阪神,race_rank,ground_type_ダ,ground_type_芝,ground_type_障,horse_weight_dif
0,2019100026,000a011155,000a000178,2013106103,11,2022-09-11,13,8.4,7,1156,55.0,1400,2,84.8,0.423077,38.2,480.0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,8.0
1,2019100026,000a011155,000a000178,2013106103,11,2022-08-27,16,27.9,4,1156,54.0,1700,1,106.1,0.250000,38.5,472.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,-2.0
2,2019100026,000a011155,000a000178,2013106103,11,2022-07-17,15,7.1,7,732,54.0,1700,1,106.7,0.333333,38.7,474.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,-4.0

In [73]:
print(horse_df[horse_df["horse_id"] == 2008103048].tail(10))

      horse_id   father_id grandfather_id   mother_id  total_race_number  \
19  2008103048  1998190004     000a001bde  2001103218                 29
20  2008103048  1998190004     000a001bde  2001103218                 29
21  2008103048  1998190004     000a001bde  2001103218                 29
22  2008103048  1998190004     000a001bde  2001103218                 29
23  2008103048  1998190004     000a001bde  2001103218                 29
24  2008103048  1998190004     000a001bde  2001103218                 29
25  2008103048  1998190004     000a001bde  2001103218                 29
26  2008103048  1998190004     000a001bde  2001103218                 29
27  2008103048  1998190004     000a001bde  2001103218                 29
28  2008103048  1998190004     000a001bde  2001103218                 29

         date  whole_horse_number  odds order jockey_id  burden_weight  \
19 2011-12-04                  15   7.9    13      1122           54.0
20 2011-11-12                  14   8.1     6      1122           53.0
21 2011-05-08                  18  40.1     8       733           55.0
22 2011-04-10                  18  44.2     5       733           55.0
23 2011-03-21                  16   5.9     7       733           54.0
24 2011-01-29                  11   3.3     1       733           54.0
25 2010-12-12                  18  60.7     8       733           54.0
26 2010-11-21                   9   4.4     1       733           54.0
27 2010-10-31                  16   4.3     1      1123           51.0
28 2010-07-18                  17  21.6     2      1031           54.0

    race_distance  ground_condition  goal_time  half_order  last_time  \
19           1600                 2       94.2    0.066667       36.1
20           1400                 1       82.2    0.071429       34.1
21           1600                 1       92.9    0.055556       35.3
22           1600                 1       94.5    0.055556       36.0
23           1400                 2       82.8    0.125000       36.8
24           1400                 1       81.0    0.090909       34.2
25           1600                 1       96.4    0.194444       34.9
26           1400                 1       82.7    0.111111       33.9
27           1200                 3       69.7    0.125000       36.0
28           1400                 1       83.0    0.117647       37.1

    horse_weight  weather_circumstance_小雨  weather_circumstance_小雪  \
19         494.0                        0                        0
20         498.0                        0                        0
21         488.0                        0                        0
22         488.0                        0                        0
23         492.0                        0                        0
24         490.0                        0                        0
25         496.0                        0                        0
26         492.0                        0                        0
27         496.0                        1                        0
28         490.0                        0                        0

    weather_circumstance_晴  weather_circumstance_曇  weather_circumstance_雨  \
19                       1                       0                       0
20                       0                       1                       0
21                       1                       0                       0
22                       1                       0                       0
23                       0                       1                       0
24                       1                       0                       0
25                       1                       0                       0
26                       1                       0                       0
27                       0                       0                       0
28                       1                       0                       0

    weather_circumstance_雪  main_place_その他  main_place_中京  main_place_中山  \
19                       0               0              0              1
20                       0               0              0              0
21                       0               0              0              0
22                       0               0              0              0
23                       0               0              0              0
24                       0               0              0              0
25                       0               0              0              0
26                       0               0              0              0
27                       0               0              0              0
28                       0               0              0              0

    main_place_京都  main_place_函館  main_place_小倉  main_place_新潟  main_place_札幌  \
19              0              0              0              0              0
20              0              0              0              0              0
21              0              0              0              0              0
22              0              0              0              0              0
23              0              0              0              0              0
24              0              0              0              0              0
25              0              0              0              0              0
26              0              0              0              0              0
27              0              0              0              0              0
28              0              0              0              1              0

    main_place_東京  main_place_福島  main_place_阪神  race_rank  ground_type_ダ  \
19              0              0              0          0              0
20              1              0              0          0              0
21              1              0              0         10              0
22              0              0              1         10              0
23              0              0              1          5              0
24              1              0              0          0              0
25              0              0              1         10              0
26              1              0              0          0              0
27              0              1              0          0              0
28              0              0              0          0              0

    ground_type_芝  ground_type_障  horse_weight_dif
19              1              0              -4.0
20              1              0              10.0
21              1              0               0.0
22              1              0              -4.0
23              1              0               2.0
24              1              0              -6.0
25              1              0               4.0
26              1              0              -4.0
27              1              0               6.0
28              1              0               0.0

In [74]:
horse_df['horse_id'] = horse_df['horse_id'].astype(str)

In [75]:
print(horse_df.shape)
print(horse_df.dtypes)

(1384147, 39)
horse_id                           object
father_id                          object
grandfather_id                     object
mother_id                          object
total_race_number                   int64
date                       datetime64[ns]
whole_horse_number                  int64
odds                              float64
order                              object
jockey_id                          object
burden_weight                     float64
race_distance                       int64
ground_condition                    int64
goal_time                         float64
half_order                        float64
last_time                         float64
horse_weight                      float64
weather_circumstance_小雨             uint8
weather_circumstance_小雪             uint8
weather_circumstance_晴              uint8
weather_circumstance_曇              uint8
weather_circumstance_雨              uint8
weather_circumstance_雪              uint8
main_place_その他                      uint8
main_place_中京                       uint8
main_place_中山                       uint8
main_place_京都                       uint8
main_place_函館                       uint8
main_place_小倉                       uint8
main_place_新潟                       uint8
main_place_札幌                       uint8
main_place_東京                       uint8
main_place_福島                       uint8
main_place_阪神                       uint8
race_rank                           int64
ground_type_ダ                       uint8
ground_type_芝                       uint8
ground_type_障                       uint8
horse_weight_dif                  float64
dtype: object

In [76]:
horse_df.to_csv("../data/csv/horse_data/refined_horse_data.csv", index = False)
print(horse_df[horse_df["horse_id"] == "2008103048"].tail(10))

      horse_id   father_id grandfather_id   mother_id  total_race_number  \
19  2008103048  1998190004     000a001bde  2001103218                 29
20  2008103048  1998190004     000a001bde  2001103218                 29
21  2008103048  1998190004     000a001bde  2001103218                 29
22  2008103048  1998190004     000a001bde  2001103218                 29
23  2008103048  1998190004     000a001bde  2001103218                 29
24  2008103048  1998190004     000a001bde  2001103218                 29
25  2008103048  1998190004     000a001bde  2001103218                 29
26  2008103048  1998190004     000a001bde  2001103218                 29
27  2008103048  1998190004     000a001bde  2001103218                 29
28  2008103048  1998190004     000a001bde  2001103218                 29

         date  whole_horse_number  odds order jockey_id  burden_weight  \
19 2011-12-04                  15   7.9    13      1122           54.0
20 2011-11-12                  14   8.1     6      1122           53.0
21 2011-05-08                  18  40.1     8       733           55.0
22 2011-04-10                  18  44.2     5       733           55.0
23 2011-03-21                  16   5.9     7       733           54.0
24 2011-01-29                  11   3.3     1       733           54.0
25 2010-12-12                  18  60.7     8       733           54.0
26 2010-11-21                   9   4.4     1       733           54.0
27 2010-10-31                  16   4.3     1      1123           51.0
28 2010-07-18                  17  21.6     2      1031           54.0

    race_distance  ground_condition  goal_time  half_order  last_time  \
19           1600                 2       94.2    0.066667       36.1
20           1400                 1       82.2    0.071429       34.1
21           1600                 1       92.9    0.055556       35.3
22           1600                 1       94.5    0.055556       36.0
23           1400                 2       82.8    0.125000       36.8
24           1400                 1       81.0    0.090909       34.2
25           1600                 1       96.4    0.194444       34.9
26           1400                 1       82.7    0.111111       33.9
27           1200                 3       69.7    0.125000       36.0
28           1400                 1       83.0    0.117647       37.1

    horse_weight  weather_circumstance_小雨  weather_circumstance_小雪  \
19         494.0                        0                        0
20         498.0                        0                        0
21         488.0                        0                        0
22         488.0                        0                        0
23         492.0                        0                        0
24         490.0                        0                        0
25         496.0                        0                        0
26         492.0                        0                        0
27         496.0                        1                        0
28         490.0                        0                        0

    weather_circumstance_晴  weather_circumstance_曇  weather_circumstance_雨  \
19                       1                       0                       0
20                       0                       1                       0
21                       1                       0                       0
22                       1                       0                       0
23                       0                       1                       0
24                       1                       0                       0
25                       1                       0                       0
26                       1                       0                       0
27                       0                       0                       0
28                       1                       0                       0

    weather_circumstance_雪  main_place_その他  main_place_中京  main_place_中山  \
19                       0               0              0              1
20                       0               0              0              0
21                       0               0              0              0
22                       0               0              0              0
23                       0               0              0              0
24                       0               0              0              0
25                       0               0              0              0
26                       0               0              0              0
27                       0               0              0              0
28                       0               0              0              0

    main_place_京都  main_place_函館  main_place_小倉  main_place_新潟  main_place_札幌  \
19              0              0              0              0              0
20              0              0              0              0              0
21              0              0              0              0              0
22              0              0              0              0              0
23              0              0              0              0              0
24              0              0              0              0              0
25              0              0              0              0              0
26              0              0              0              0              0
27              0              0              0              0              0
28              0              0              0              1              0

    main_place_東京  main_place_福島  main_place_阪神  race_rank  ground_type_ダ  \
19              0              0              0          0              0
20              1              0              0          0              0
21              1              0              0         10              0
22              0              0              1         10              0
23              0              0              1          5              0
24              1              0              0          0              0
25              0              0              1         10              0
26              1              0              0          0              0
27              0              1              0          0              0
28              0              0              0          0              0

    ground_type_芝  ground_type_障  horse_weight_dif
19              1              0              -4.0
20              1              0              10.0
21              1              0               0.0
22              1              0              -4.0
23              1              0               2.0
24              1              0              -6.0
25              1              0               4.0
26              1              0              -4.0
27              1              0               6.0
28              1              0               0.0

In [77]:
horse_featured_df = pd.DataFrame(columns = ["horse_id"])
horse_featured_df["horse_id"] = horse_df["horse_id"].unique()

In [78]:
print(horse_featured_df)

         horse_id
0      2019100026
1      2019100053
2      2019100055
3      2019100072
4      2019100083
...           ...
61851  1982102223
61852  1982103336
61853  1982103492
61854  1982105035
61855  1982106338

[61856 rows x 1 columns]

win_count

In [79]:
horse_character_df = pd.DataFrame(columns = ["win_count"])
horse_character_df["win_count"] = horse_df.groupby(["horse_id"], as_index = True).apply(lambda d: (d.order == '1').sum())

horse_featured_df = pd.merge(horse_featured_df, horse_character_df, on = 'horse_id')

update_total_race_number

In [80]:
update_total_race_number_df = pd.DataFrame(columns = ["update_total_race_number"])
update_total_race_number_df["update_total_race_number"] = horse_df.groupby(["horse_id"], as_index = True).apply(lambda d: (d.order == '1').count())

horse_featured_df = pd.merge(horse_featured_df, update_total_race_number_df, on = 'horse_id')

win_count_grass

In [81]:
win_count_grass_df = pd.DataFrame(columns = ["win_count_grass"])
win_count_grass_df["win_count_grass"] = horse_df.groupby(["horse_id"], as_index = True).apply(lambda d: ((d.order == '1') & (d.ground_type_芝 == 1)).sum())

horse_featured_df = pd.merge(horse_featured_df, win_count_grass_df, on = 'horse_id')

win_count_dart

In [82]:
win_count_dart_df = pd.DataFrame(columns = ["win_count_dart"])
win_count_dart_df["win_count_dart"] = horse_df.groupby(["horse_id"], as_index = True).apply(lambda d: ((d.order == '1') & (d.ground_type_ダ == 1)).sum())

horse_featured_df = pd.merge(horse_featured_df, win_count_dart_df, on = 'horse_id')

race_count_grass

In [83]:
race_count_grass_df = pd.DataFrame(columns = ["race_count_grass"])
race_count_grass_df["race_count_grass"] = horse_df.groupby(["horse_id"], as_index = True).apply(lambda d: (d.ground_type_芝 == 1).sum())

horse_featured_df = pd.merge(horse_featured_df, race_count_grass_df, on = 'horse_id')

race_count_dart

In [84]:
race_count_dart_df = pd.DataFrame(columns = ["race_count_dart"])
race_count_dart_df["race_count_dart"] = horse_df.groupby(["horse_id"], as_index = True).apply(lambda d: (d.ground_type_ダ == 1).sum())

horse_featured_df = pd.merge(horse_featured_df, race_count_dart_df, on = 'horse_id')

grass_win_rate

In [85]:
grass_win_rate_df = pd.DataFrame(columns = ["grass_win_rate"])
horse_featured_df = pd.concat([horse_featured_df,grass_win_rate_df], axis=1)
horse_featured_df["grass_win_rate"] = horse_featured_df["win_count_grass"] / horse_featured_df["race_count_grass"]
horse_featured_df["grass_win_rate"] = horse_featured_df["grass_win_rate"].fillna(0)
print(horse_featured_df)

         horse_id  win_count  update_total_race_number  win_count_grass  \
0      2019100026          1                        11                0
1      2019100053          2                         5                0
2      2019100055          1                         6                0
3      2019100072          2                        10                0
4      2019100083          2                         7                0
...           ...        ...                       ...              ...
61851  1982102223          1                        11                1
61852  1982103336          1                         6                1
61853  1982103492          3                        19                0
61854  1982105035          2                         4                1
61855  1982106338          2                         9                2

       win_count_dart  race_count_grass  race_count_dart  grass_win_rate
0                   1                 0               11        0.000000
1                   2                 0                5        0.000000
2                   1                 3                3        0.000000
3                   2                 0               10        0.000000
4                   2                 0                7        0.000000
...               ...               ...              ...             ...
61851               0                 8                3        0.125000
61852               0                 3                3        0.333333
61853               3                 2               17        0.000000
61854               1                 2                2        0.500000
61855               0                 9                0        0.222222

[61856 rows x 8 columns]

dart_win_rate

In [86]:
dart_win_rate_df = pd.DataFrame(columns = ["dart_win_rate"])
horse_featured_df = pd.concat([horse_featured_df, dart_win_rate_df], axis=1)
horse_featured_df["dart_win_rate"] = horse_featured_df["win_count_dart"] / horse_featured_df["race_count_dart"]
horse_featured_df["dart_win_rate"] = horse_featured_df["dart_win_rate"].fillna(0)

win_rate

In [87]:
win_rate_df = pd.DataFrame(columns = ["win_rate"])
horse_featured_df = pd.concat([horse_featured_df, win_rate_df], axis=1)
horse_featured_df["win_rate"] = horse_featured_df["win_count"] / horse_featured_df["update_total_race_number"]
horse_featured_df["win_rate"] = horse_featured_df["win_rate"].fillna(0)

In [88]:
print(horse_featured_df[horse_featured_df["horse_id"]=="1983101256"])

         horse_id  win_count  update_total_race_number  win_count_grass  \
60913  1983101256          6                        43                5

       win_count_dart  race_count_grass  race_count_dart  grass_win_rate  \
60913               1                36                7        0.138889

       dart_win_rate  win_rate
60913       0.142857  0.139535

In [89]:
horse_df[horse_df["horse_id"]=="1983101256"]

,horse_id,father_id,grandfather_id,mother_id,total_race_number,date,whole_horse_number,odds,order,jockey_id,burden_weight,race_distance,ground_condition,goal_time,half_order,last_time,horse_weight,weather_circumstance_小雨,weather_circumstance_小雪,weather_circumstance_晴,weather_circumstance_曇,weather_circumstance_雨,weather_circumstance_雪,main_place_その他,main_place_中京,main_place_中山,main_place_京都,main_place_函館,main_place_小倉,main_place_新潟,main_place_札幌,main_place_東京,main_place_福島,main_place_阪神,race_rank,ground_type_ダ,ground_type_芝,ground_type_障,horse_weight_dif
0,1983101256,000a000474,000a000f27,1976107262,43,1988-12-25,15,128.4,11,651,52.0,2000,1,123.2,0.733333,48.7,444.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3,0,1,0,0.0
1,1983101256,000a000474,000a000f27,1976107262,43,1988-11-27,10,32.1,7,651,52.0,2000,1,123.4,0.975000,48.4,444.0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,-4.0
2,1983101256,000a000474,000a000f27,1976107262,43,1988-11-12,16,81.3,11,651,52.0,1800,1,112.7,0.625000,50.5,448.0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0.0
3,1983101256,000a000474,000a000f27,1976107262,43,1988-10-30,16,78.9,7,651,55.0,1400,1,84.2,0.843750,47.5,448.0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,5,0,1,0,-6.0
4,1983101256,000a000474,000a000f27,1976107262,43,1988-10-08,10,9.5,6,298,52.0,1200,1,70.9,0.800000,46.1,454.0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,6.0
5,1983101256,000a000474,000a000f27,1976107262,43,1988-09-11,14,13.4,5,298,53.0,1400,1,82.1,0.428571,47.5,448.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,3,0,1,0,0.0
6,1983101256,000a000474,000a000f27,1976107262,43,1988-08-28,12,14.8,6,651,53.0,2000,1,123.6,0.208333,38.3,448.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,3,0,1,0,0.0
7,1983101256,000a000474,000a000f27,1976107262,43,1988-08-07,14,7.5,2,298,54.0,1800,1,109.1,0.446429,36.9,448.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,3,0,1,0,-2.0
8,1983101256,000a000474,000a000f27,1976107262,43,1988-07-17,12,4.7,1,298,55.0,1800,1,109.1,0.291667,35.8,450.0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,6.0
9,1983101256,000a000474,000a000f27,1976107262,43,1988-06-11,12,5.7,4,298,55.0,1200,1,70.3,0.291667,46.9,444.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0.0
10,1983101256,000a000474,000a000f27,1976107262,43,1988-05-21,12,2.4,5,298,55.0,1600,1,95.9,0.777778,48.3,444.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,8.0
11,1983101256,000a000474,000a000f27,1976107262,43,1988-04-17,13,8.1,5,568,55.0,2000,1,123.8,0.788462,49.3,436.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,-4.0
12,1983101256,000a000474,000a000f27,1976107262,43,1988-03-27,14,6.7,5,298,55.0,1600,4,98.4,0.500000,49.4,440.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0.0
13,1983101256,000a000474,000a000f27,1976107262,43,1988-03-12,16,5.8,3,298,55.0,1400,4,84.3,0.750000,48.1,440.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,-2.0
14,1983101256,000a000474,000a000f27,1976107262,43,1988-02-13,9,11.9,5,298,55.0,1200,1,73.2,0.666667,48.3,442.0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0.0
15,1983101256,000a000474,000a000f27,1976107262,43,1987-12-19,11,3.6,4,298,56.0,1600,1,95.9,0.666667,47.3,442.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,-4.0
16,1983101256,000a000474,000a000f27,1976107262,43,1987-12-06,10,2.9,7,828,56.0,1600,2,96.3,0.533333,48.1,446.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,-6.0
17,1983101256,000a000474,000a000f27,1976107262,43,1987-10-03,12,3.2,1,298,55.0,1600,1,94.7,0.750000,47.1,452.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,6.0
18,1983101256,000a000474,000a000f27,1976107262,43,1987-09-05,6,3.3,2,298,55.0,1800,1,110.0,0.541667,36.1,446.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0.0
19,1983101256,000a000474,000a000f27,1976107262,43,1987-08-23,9,2.3,1,298,55.0,1800,3,110.4,0.333333,35.0,446.0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,-8.0
20,1983101256,000a000474,000a000f27,1976107262,43,1987-08-15,9,2.0,3,298,55.0,1700,1,103.8,0.638889,36.1,454.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,-2.0
21,1983101256,000a000474,000a000f27,1976107262,43,1987-08-01,14,2.2,3,298,55.0,1700,1,103.1,0.214286,35.5,456.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0.0
22,1983101256,000a000474,000a000f27,1976107262,43,1987-07-18,10,4.0,2,298,55.0,1800,2,110.5,0.250000,35.4,456.0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,30.0
23,1983101256,000a000474,000a000f27,1976107262,43,1987-03-14,16,10.1,3,365,54.0,1600,4,99.7,0.729167,50.5,426.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,2.0
24,1983101256,000a000474,000a000f27,1976107262,43,1987-02-08,16,7.2,9,349,53.0,1800,1,110.5,0.359375,37.4,424.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,-6.0
25,1983101256,000a000474,000a000f27,1976107262,43,1987-01-05,14,15.7,6,298,54.0,1400,3,84.5,0.535714,48.6,430.0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,-2.0
26,1983101256,000a000474,000a000f27,1976107262,43,1986-12-20,14,7.5,11,651,50.0,2000,3,124.8,0.285714,49.1,432.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,2.0
27,1983101256,000a000474,000a000f27,1976107262,43,1986-11-30,11,6.8,3,365,53.0,1400,1,82.6,0.454545,47.4,430.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,-8.0
28,1983101256,000a000474,000a000f27,1976107262,43,1986-10-26,11,17.1,1,651,53.0,1600,1,97.5,0.772727,48.4,438.0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,4.0
29,1983101256,000a000474,000a000f27,1976107262,43,1986-10-05,8,4.6,8,651,53.0,1600,1,96.4,0.437500,48.2,434.0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0.0
30,1983101256,000a000474,000a000f27,1976107262,43,1986-09-14,11,6.7,2,365,52.0,1600,1,94.8,0.666667,47.7,434.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,-6.0
31,1983101256,000a000474,000a000f27,1976107262,43,1986-08-24,6,2.8,4,367,53.0,1700,1,104.6,0.875000,36.7,440.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,2.0
32,1983101256,000a000474,000a000f27,1976107262,43,1986-07-27,12,7.0,2,651,50.0,1700,1,103.0,0.270833,36.9,438.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0.0
33,1983101256,000a000474,000a000f27,1976107262,43,1986-07-13,10,27.2,1,651,53.0,1700,3,104.7,0.400000,36.5,438.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,2.0
34,1983101256,000a000474,000a000f27,1976107262,43,1986-06-08,9,5.2,6,298,53.0,1600,1,98.7,0.259259,51.4,436.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,2.0
35,1983101256,000a000474,000a000f27,1976107262,43,1986-05-18,12,12.2,2,298,53.0,1200,1,71.9,0.250000,48.0,434.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,-2.0
36,1983101256,000a000474,000a000f27,1976107262,43,1986-05-04,10,9.1,6,651,50.0,1200,4,73.2,0.650000,48.6,436.0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,2.0
37,1983101256,000a000474,000a000f27,1976107262,43,1986-04-13,8,14.0,6,367,53.0,1800,1,116.5,0.750000,53.2,434.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,-2.0
38,1983101256,000a000474,000a000f27,1976107262,43,1986-03-23,9,6.1,5,367,53.0,1200,4,73.0,0.722222,48.9,436.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,-2.0
39,1983101256,000a000474,000a000f27,1976107262,43,1986-03-09,15,41.6,12,540,54.0,1600,1,99.4,0.844444,50.5,438.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0.0
40,1983101256,000a000474,000a000f27,1976107262,43,1986-02-08,14,3.4,7,367,53.0,1200,1,74.6,0.357143,51.0,438.0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,-6.0
41,1983101256,000a000474,000a000f27,1976107262,43,1986-01-18,8,7.2,4,367,53.0,2000,1,125.5,0.312500,51.9,444.0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,-4.0
42,1983101256,000a000474,000a000f27,1976107262,43,1986-01-05,18,3.1,1,367,53.0,1200,3,74.1,0.444444,49.4,448.0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0.0

delete unnecessary columns

In [90]:
horse_featured_df.drop(['win_count','update_total_race_number', 'win_count_grass', 'win_count_dart', 'race_count_grass', 'race_count_dart'], axis = 1, inplace = True)
print(horse_featured_df.head(10))

     horse_id  grass_win_rate  dart_win_rate  win_rate
0  2019100026        0.000000       0.090909  0.090909
1  2019100053        0.000000       0.400000  0.400000
2  2019100055        0.000000       0.333333  0.166667
3  2019100072        0.000000       0.200000  0.200000
4  2019100083        0.000000       0.285714  0.285714
5  2019100094        0.000000       0.500000  0.500000
6  2019100106        0.000000       0.166667  0.142857
7  2019100108        1.000000       0.181818  0.250000
8  2019100109        0.333333       0.000000  0.333333
9  2019100110        0.000000       0.333333  0.333333

In [91]:
horse_featured_df.to_csv("../data/csv/horse_data/horse_featured_data.csv", index = False)